
@font-face {
    font-family: 'sinkin_sans800_black_italic';
    src: font_url('sinkinsans-800blackitalic-webfont.woff2') format('woff2'),
         font_url('sinkinsans-800blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}